.taskForm {
  margin-left: 48px;
  margin-top: 18px;
  padding: 8px;
  width: 65vw;
  height: 80px;
}

#taskName {
  font-size: 18px;
  margin-left: 6px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #5A49E3;
  background: transparent;
}

#taskDescription {
  font-size: 18px;
  margin-left: 55px;
  width: 300px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #5A49E3;
  background: transparent;
}

#priority {
  font-size: 18px;
  margin-left: 80px;
  background: transparent;
}

#taskProject {
  font-size: 18px;
  margin-left: 80px;
  background: transparent;
}

#dueDate {
  font-size: 18px;
  margin-left: 60px;
  background: transparent;
}

.formButtons {
  display: flex;
  justify-content: end;
  margin-top: 18px;
}

.saveButton {
  border: none;
  font-size: 16px;
  background: #B3F8B1;
  border-radius: 2px;
  padding: 6px;
  width: 80px;
  margin-right: 24px;
}

.cancelButton {
  border: none;
  font-size: 16px;
  background: #F9AFAF;
  border-radius: 2px;
  padding: 6px;
  width: 80px;
}

textarea:focus, input:focus{
  outline: none;
}