#content {
  display: flex;
}

.leftColumn {
  height: 100vh;
  min-height: 100%;
  width: 20vw;
  background: #efefef;
}

.rightColumn {
  height: 100vh;
  min-height: 100%;
  width: 80vw;
}

.header {
  height: 200px;
  width: 80vw;
  background: #d9d9d9;
  box-shadow: 7px -2px 5px 7px rgba(0, 0, 0, 0.33);
}

.logoCenter,
.lineCenter {
  display: flex;
  justify-content: center;
}

.icon {
  width: 200px;
  height: 200px;
}

.line {
  height: 2px;
  width: 15vw;
  background: #5a49e3;
}
