.newTask {
  display: flex;
  justify-content: flex-end;
  width: 68vw;
  margin-top: 48px;
}

.newTaskIcon {
  height: 18px;
  width: 18px;
  cursor: pointer;
}

.newTaskButton {
  font-family: 'Roboto', sans-serif;
  border: none;
  background: none;
  font-size: 18px;
  font-weight: 300;
  color: #0E0080;
  cursor: pointer;
}