.newTask {
  display: flex;
  justify-content: flex-end;
  margin-right: 48px;
}

.newTaskIcon {
  height: 18px;
  width: 18px;
  margin-top: 36px;
  cursor: pointer;
}

.newTaskButton {
  font-family: "Roboto", sans-serif;
  margin-top: 36px;
  border: none;
  background: none;
  font-size: 18px;
  font-weight: 300;
  color: #0e0080;
  cursor: pointer;
}
