.projectsTitle {
  color: #0e0080;
  font-weight: 500;
  margin-left: 48px;
  margin-top: 48px;
  font-size: 32px;
}

.newProjectsContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 48px;
}

.newProjectIcon {
  height: 18px;
  width: 18px;
  margin-left: 48px;
  margin-top: 12px;
  align-self: center;
}

.newProjectButton {
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin-top: 12px;
  color: #0e0080;
}
