.task {
  background: #efefef;
  flex: 1 1 0%;
  margin: 24px 48px 24px 48px;
  border-radius: 5px;
  height: 80px;
}

.opacTask {
  opacity: 0.5;
}

.taskExpanded {
  height: 120px;
}

.taskBtnDiv {
  display: flex;
  justify-content: end;
  align-items: end;
  position: relative;
  bottom: 30px;
  left: 0;
  right: 0;
}

.updateBtn, .deleteBtn {
  margin-right: 12px;
  margin-bottom: 12px;
}

.taskDetails {
  display: flex;
  align-items: center;
  height: 100%;
}

.name, .priority, .projectRef, .due, .description {
  width: calc(60px + 10vw);
  margin-left: 24px;
  margin-right: 12px;
}

.description {
  width: calc(80px + 10vw);
  min-width: 60px;
}

.description {
  text-overflow: ellipsis; 
  overflow: hidden; 
  white-space: nowrap;
}

.checkbox {
  margin-left: 12px;
}