.task {
  margin-left: 48px;
  background: #EFEFEF;
  width: 65vw;
  height: 60px;
  margin-left: 48px;
  margin-top: 24px;
  border-radius: 5px;
}

.taskExpanded {
  height: 120px;
}

.taskBtnDiv {
  display: flex;
  justify-content: end;
  align-items: end;
  position: relative;
  bottom: 30px;
  left: 0;
  right: 0;
}

.updateBtn {
  margin-right: 12px;
  margin-bottom: 12px;
}

.taskDetails {
  display: flex;
  align-items: center;
  height: 100%;
}

.name {
  width: 200px;
  margin-left: 12px;
}

.description {
  width: 300px;
  margin-left: 95px;
}

.priority {
  width: 100px;
  margin-left: 80px;
}

.projectRef {
  width: 80px;
  margin-left: 80px;
}

.due {
  margin-left: 165px;
}