.allFilters {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.filterListTitle {
  color: #0e0080;
  font-weight: 500;
  font-size: calc(12px + 1vw);
}

.filter {
  display: flex;
  gap: 10px;
  margin-top: 18px;
}

.filterButton {
  border: none;
  color: #0e0080;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: calc(8px + 0.8vw);
}

.filterIcon {
  height: 24px;
  width: 24px;
}
